<aside class="sm:w-64 w-[20%] bg-gray-800 text-white">
    <div class="p-4 text-2xl font-bold">Dashboard</div>
    <nav class="mt-10">
        <a href="#" class="flex items-center p-2 text-gray-300 hover:bg-gray-700">
            <i class="fas fa-user-circle mr-3"></i>
            Account
        </a>
        <a href="/profile" id="profile-page" class="flex items-center p-2 text-gray-300 hover:bg-gray-700">
            <i class="fas fa-user mr-3"></i>
            Profile 
        </a>
        <a href="#" class="flex items-center p-2 text-gray-300 hover:bg-gray-700">
            <i class="fas fa-book mr-3"></i>
            Explore 
        </a>
        <a href="#" class="flex items-center p-2 text-gray-300 hover:bg-gray-700">
            <i class="fas fa-bell mr-3"></i>
            Notifications 
        </a>
        <a href="#" id="logout" class="flex items-center p-2 text-gray-300 hover:bg-gray-700">
            <i class="fas fa-sign-out-alt mr-3"></i>
            Logout
        </a>
    </nav>
</aside>