<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login creativesconnect</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="./Images/Cc-logo.png" type="image/png">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="flex flex-col min-h-screen bg-purple-200">
                    <%- include('nav') %>

    <!-- Main -->
    <main class="flex items-center justify-center" id="login">
        <div class="w-full max-w-md p-8 bg-gray-400 rounded-md my-32">
            <div class="text-center mb-8">
                <h1 class="text-3xl font-bold">Log In</h1>


            </div>
            <form id="login-form" class="space-y-6" action="/login" method="POST">
                <div>
                    <label for="email" class="block text-md font-medium">Email address<span
                            class="text-red-500">*</span></label>
                    <input type="email" id="email" name="email" required
                        class="mt-1 block w-full px-3 py-2 bg-gray-200 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-600">
                </div>
                <div class="relative">
                    <label class="block text-md font-medium">Password<span class="text-red-500">*</span></label>
                    <input type="password" id="password"
                        class="mt-1 block w-full px-3 py-2 bg-gray-200 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-600"
                        required>
                    <i class="far fa-eye absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer"
                        id="togglePassword"></i>
                </div>
                
                <div class="text-center">
                    <button type="submit"
                    id="loginBtn"
                        class="w-full py-2 px-4 bg-purple-800 text-white font-medium rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600">
                        Log in
                    </button>
                </div>
                <div>No account? <a href="/register#register" class="text-blue-800 hover:underline">Sign up</a></div>
            </form>
        </div>
    </main>
    <%- include('footer') %>

    <script src="/js/login.js"></script>

</body>

</html>