<nav class="flex justify-between items-center text-white px-6 py-2 bg-gray-700">
    <div class="flex items-center space-x-4">
        <img src="/Images/Cc-logo.png" alt="Creative Connect Logo" class="h-10 w-10">
        <div class="text-2xl font-bold">CreativesConnect</div>
    </div>
    <div class="hidden md:flex space-x-12 justify-around items-center ml-12">
        <a href="/" class="text-xl hover:text-gray-300">Home</a>
        <a href="/#about" class="text-xl hover:text-gray-300">About</a>
        <div class="relative">
            <a href="#" id="designerDesktop" class="text-xl hover:text-gray-300">Creatives</a>
            <div id="dropdownDesktop"
                class="absolute hidden bg-white text-black mt-1 rounded shadow-lg z-10 dropdown-menu">
                <a href="#" class="hover:bg-gray-200 text-center">UX/Graphic Designers</a>
                <a href="#" class="hover:bg-gray-200">Makeup Artists</a>
                <a href="#" class="hover:bg-gray-200">Photographers</a>
                <a href="#" class="hover:bg-gray-200">Fashion Designers</a>
                <a href="#" class="hover:bg-gray-200">Painters</a>
                <a href="#" class="hover:bg-gray-200">Other</a>
            </div>
        </div>
        <a href="/contacts#contact" class="text-xl hover:text-gray-300">Contact</a>
    </div>
    <!-- <a href="/login#login"
        class="hidden md:block bg-purple-800 hover:bg-purple-700 text-white px-4 py-2 rounded">Login</a> -->
    <div class="md:hidden flex items-center">
        <button id="menuButton" class="focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                </path>
            </svg>
        </button>
    </div>
</nav>